<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <main>
        <section class="news section">
          <div class="container">
            <div class="news__container wrapper">
              <h1 class="news__title title">News Page</h1>
              <div class="news__cards">
                <% if (posts.length) { %>
                  <% posts.forEach(({id, title, createdAt, text, author})=> { %>
                    <div class="news__card">
                      <a href="/news/<%= id %>">
                        <h4 class="news__caption">
                          <%= title %>
                        </h4>
                      </a>
                      <div class="news__desc">
                        <%= text %>
                      </div>
                      <div class="news__meta">
                        <div class="news__author">
                          <%= author %>
                        </div>
                        <div class="news__date">
                          <%= createdAt.toLocaleDateString() %>
                        </div>
                      </div>
                      <button сlass="news__btn" data-id="<%= id%>">Удалить</button>
                    </div>
                    <% }) %>
                      <% } %>
              </div>
            </div>
        </section>
      </main>
      <%- include('../partials/footer.ejs') %>

        <script>
          document.addEventListener('click', (e) => {
            const id = e.target?.dataset?.id || null;
            if (id) {
              fetch(`/news/${id}`, {
                method: 'DELETE',
              })
                .then(() => {
                  window.location.reload();
                })
                .catch((error) => {
                  console.log(error)
                })
            }
          })
        </script>
  </body>

</html>
