<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <main>
        <section class="news section">
          <div class="container">
            <div class="news__container wrapper">
              <h1 class="news__title title">News Page</h1>
              <div class="news__cards">
                <% if (posts.length) { %>
                  <% posts.forEach(({id, title, date, text, author})=> { %>
                    <a class="news__card" href="/news/<%= id %>">
                      <h4 class="news__caption">
                        <%= title %>
                      </h4>
                      <div class="news__desc">
                        <%= text %>
                      </div>
                      <div class="news__meta">
                        <div class="news__author">
                          <%= author %>
                        </div>
                        <div class="news__date">
                          <%= date %>
                        </div>
                      </div>
                    </a>
                  <% }) %>
                <% } %>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('../partials/footer.ejs') %>
  </body>

</html>
